/* header and footer formatting */

#nav, #footer_nav, #places_to_go{
    flex-direction: column;
}


#nav li{
    margin-bottom: 0.5rem;
    text-align: right;
}

#nav{
    text-align: right;
}

#footer_nav{
    text-align: center;
}

#footer_nav section{
    margin-bottom: 2%;
}


.blog_post{
    margin-left: 10%;
    margin-right: 10%;
}


/* education section timeline formatting */

.timeline{
    color: var(--accent-light);
    margin-left: 10%;
    margin-right: 10%;
    border-left: 0.1rem dashed var(--accent-light);
    display: grid;
    grid-template-areas:
        'uni uni'
        'uniTitle uniTitle'
        'uniModules uniModules'
        'aLevels aLevels'
        'aLevelsIntro aLevelsIntro'
        'aLevelsInfo aLevelsInfo'
        'gcses gcses'
        'gcseIntro gcseIntro'
        'gcseInfo gcseInfo'
    ;    
    row-gap: 1rem;
    column-gap: 2rem;
    padding: 1%;
}

#uni_title{
    grid-area: uniTitle;
}

#uni_years{
    grid-area: uni;
}

#uni_modules{
    grid-area: uniModules;
    padding-bottom: 1rem;
    border-bottom: 0.1rem dashed var(--accent-light);
}

#a_level_years{
    grid-area: aLevels;
}

#a_level_intro{
    grid-area: aLevelsIntro;
}

#a_level_info{
    grid-area: aLevelsInfo;
}