@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Fredericka+the+Great&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

:root{
    --base-color: rgb(2, 2, 14);
    --accent-main: rgb(255, 255, 65);
    --accent-header: rgb(255, 252, 70);
    --accent-dark: rgb(243, 150, 0);
    --accent-light: rgb(252, 252, 146);
    --accent-lightest: rgb(255, 255, 179);
    --text-color: var(--accent-light);

    scrollbar-color: var(--accent-light) var(--base-color);
}


/* generic formatting */

html{
    font-family: 'Cabin', 'Outfit', 'Merriweather', 'Playfair Display', 'Ubuntu', serif, sans-serif;
    color: var(--text-color);
    background-color: var(--base-color);
}

li h3{
    color: var(--accent-lightest);
}

.main_body{
    margin-left: 25%;
    margin-right: 25%;
}

#contacts li{
    list-style-type:none;
}

article{
    padding: 5%;
}

article p{
    color: var(--accent-light);
}

footer{
    padding: 2%;
    padding-bottom:0;
}

h1, h2, h3, p{
    padding-top: 3%;
    padding-left: 9%;
    padding-right: 9%;
    color: var(--accent-main);
}

#name{
    font-family: "Outfit";
    padding-left: 1rem;
    padding-top: 0;
}

article{
    font-family: 'Quicksand';
}

.page_header{
    text-align: center;
}

strong{
    color: var(--accent-dark)
}

h1{
    font-size: 250%;
}

h2{
    font-size: 150%;
}

h3{
    font-size: 125%;
}

h1::before, h2::before{
    content: "🐝 ";
}

img{
    border-radius: 2.5%;
    width:max-content;
    object-fit: cover;
}

header ::selection{
    background-color: var(--base-color);
    color: var(--accent-light);
}


/* education section timeline formatting */

.timeline{
    color: var(--accent-light);
    margin-left: 10%;
    margin-right: 10%;
    border-left: 0.1rem dashed var(--accent-light);
    display: grid;
    grid-template-areas:
        'uni uniTitle'
        'uni uniModules'
        'aLevels aLevelsIntro'
        'aLevels aLevelsInfo'
        'gcses gcseIntro'
        'gcses gcseInfo'
    ;    
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 1%;
}

.timeline:hover{
    border-left: 0.1rem solid var(--accent-light);
}

#uni_years{
    grid-area: uni;
}


#uni_title{
    grid-area: uniTitle;
    border: none;
}

#uni_modules{
    grid-area: uniModules;
    padding-bottom: 1rem;
    margin-left: 1rem;
    border-bottom: 0.1rem dashed var(--accent-light);
}

#a_level_years{
    grid-area: aLevels;
}

#a_level_intro{
    grid-area: aLevelsIntro;
}

#a_level_info{
    grid-area: aLevelsInfo;
    padding-bottom: 1rem;
    margin-left: 1rem;
    border-bottom: 0.1rem dashed var(--accent-light);
}

#gcse_years{
    grid-area: gcses;
}

#gcse_intro{
    grid-area: gcseIntro;
}

#gcse_info{
    grid-area: gcseInfo;
}


/* projects and skills flexbox formatting */

#project_flex, #skills_flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom:5%;
    column-gap: 2rem;
}

#project_flex figure, #skills_flex figure img{
    margin-top:10%;
    margin: 0%;
}

#project_flex .mini_textbox, #skills_flex .mini_textbox{
    min-width: 10%;
}

h3{
    padding-right: 0;
}

a figure img{
    border: 0.1rem dashed var(--base-color);
}

a figure img:hover{
    border: 0.1rem dashed var(--accent-main);
}


#project_flex h3, #skills_flex h3{
    color: var(--accent-dark);
}


/* mini textbox formatting */
.mini_textbox{
    border: 0.1rem dashed var(--accent-main);
    text-align: center;
    padding:2%;
    border-radius: 0.5rem;
    flex: 2 2 15rem;
    margin-top: 2rem;
}

.mini_textbox h3{
    padding-bottom: 3%;
    padding-left: 0%;
    margin-bottom: 3%;
    border-bottom: 0.1rem dashed var(--accent-main);
}

.mini_textbox figure{
    margin:0%;
}

.mini_textbox p{
    padding: 0;
    text-align: left;
}

.mini_textbox img{
    object-fit: fill;
    display: block;
    min-width:100%;
    transition: .5s ease;
    opacity: 1;
}

.mini_textbox:hover img{
    opacity: 0;
}

.mini_textbox .overlay{
    padding: 5%;
    position:absolute;
    opacity: 0%;
}

.mini_textbox:hover .overlay{
    opacity: 1;
}

article{
    padding: 0;
    padding-left:3rem;
}


/* mini textbox hover formatting */
.mini_textbox:hover{
    border: 0.1rem solid var(--accent-light);
    transform: translate(1%, -1%);
}


/* blog post formatting */
.blog_post{
    font-family: monospace;
    margin-left: 27%;
    margin-top: 2%;
    margin-right: 27%;
    padding: 2%;
    border: 0.1rem dashed var(--accent-light);
}

aside{
    text-align: right;
    padding-right: 15%;
}

.blog_post aside{
    color: var(--accent-dark);
}

.blog_post article{
    padding: 1rem;
}

.blog_post h2{
    padding:0%;
    padding-bottom:2%;
    margin: 2%;
    color: var(--accent-dark);
    border-bottom: 0.1rem dashed var(--accent-main);
}

.blog_post p{
    color: var(--accent-lightest);
    font-family: monospace;
    font-size: large;
    padding-left: 2rem;
    padding-right: 2rem;
}

.blog_post:hover{
    border: 0.1rem solid var(--accent-light);
    transform: translate(1%, -1%);
}


/* header and footer formatting */

#heading, #nav, #footer_nav, #places_to_go{
    display: flex;
    justify-content:space-between;
    list-style-type:none;
}

#nav ul li{
    list-style-type:none;
}

#heading{
    margin-bottom: 5%;
    padding: 1rem;
    padding-left: 0.5rem;
    color: var(--base-color);
}

header{
    background:var(--accent-header);
    border-bottom: 0.3rem dashed var(--base-color);
    color: var(--base-color);
}

header a, #name a{
    color: black;
}

footer{
    margin: 5%;
    padding: 0.5rem;
    border-bottom: 0.1rem dashed var(--accent-main);
    border-top: 0.1rem dashed var(--accent-main);
}

#footer_nav{
    padding-left:10%;
    padding-right:10%;
    justify-content:space-evenly;
}

#footer_nav section{
    text-align: center;
}

#footer_nav section ul li h3{
    padding-left: 0%;
}

#footer_nav section ul li{
    list-style-type: none;
}

#footer_nav section ul{
    padding-left: 0%;
}

#nav{
    column-gap: 5vw;
}

#name a{
    text-decoration: none;
}


/* link formatting */

a{
    color: var(--accent-lightest); 
}

a:hover{
    color: var(--accent-dark);
}



/* highlight selection */
::selection {
    background: var(--accent-light); 
    color: var(--base-color);
}